<!-- edit_biography.html -->
{% extends 'dashboard.html' %}    
{% load static %}
{% block content %}
<div class="row justify-content-md-center">
    <h2>Tu Biografia</h2>
    <form method="POST" action="{% url 'edit_biography' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {% if request.user.first_name and request.user.last_name %}
                    <h5>{{ request.user.first_name}} {{request.user.last_name}}</h5>
                {% else %}
                    <h5>Ingrese sus nombres y apellidos en su <a href="{% url 'ProfileFunction'%}">Perfil</a></h5>
                {% endif %}

                {% if request.user.profile.profesion %}
                <p>{{request.user.profile.profesion}}</p>
                {% else %}
                <h5>Ingrese su Profesion en su <a href="{% url 'ProfileFunction'%}">Perfil</a></h5>
                {% endif %}

                {% if request.user.profile.roll %}
                <p>Roll en LBCC {{request.user.profile.roll |capfirst}}</p>
                {% else %}
                <p>Ingrese el roll que ejerce en LBCC en su <a href="{% url 'ProfileFunction'%}">Perfil</a></p>
                {% endif %}
            </div>
           
            <div class="col-md-4">
                <picture>
                    <img src="{{ user.profile.image.urls }}" width="128" height="128"  alt="" class="img-thumbnail" alt="Profile Image" onerror="this.onerror=null; this.src='{% static 'Profile/default.webp' %}'"/>
                </picture>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {{ form.media }}
                {{ form.biography }}
                <p>{{ form.biography.help_text }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-success" >Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
