<div class="col-md-4">
  <label for="provincias" class="form-label">Provincias</label>
  <select class="form-select" id="provincia" required="" name="provincia">
    <option value="Distrito Nacional">Distrito Nacional</option>
    <option value="Azua">Azua</option>
    <option value="Bahoruco">Bahoruco</option>
    <option value="Barahona">Barahona</option>
    <option value="Dajabón">Dajabón</option>
    <option value="Duarte">Duarte</option>
    <option value="Elías Piña">Elías Piña</option>
    <option value="El Seibo">El Seibo</option>
    <option value="Espaillat">Espaillat</option>
    <option value="Hato Mayor">Hato Mayor</option>
    <option value="Hermanas Mirabal">Hermanas Mirabal</option>
    <option value="Independencia">Independencia</option>
    <option value="La Altagracia">La Altagracia</option>
    <option value="La Romana">La Romana</option>
    <option value="La Vega">La Vega</option>
    <option value="María Trinidad Sánchez">María Trinidad Sánchez</option>
    <option value="Monseñor Nouel">Monseñor Nouel</option>
    <option value="Monte Cristi">Monte Cristi</option>
    <option value="Monte Plata">Monte Plata</option>
    <option value="Pedernales">Pedernales</option>
    <option value="Peravia">Peravia</option>
    <option value="Puerto Plata">Puerto Plata</option>
    <option value="Samaná">Samaná</option>
    <option value="San Cristóbal">San Cristóbal</option>
    <option value="San José de Ocoa">San José de Ocoa</option>
    <option value="San Juan">San Juan</option>
    <option value="San Pedro de Macorís">San Pedro de Macorís</option>
    <option value="Sánchez Ramírez">Sánchez Ramírez</option>
    <option value="Santiago">Santiago</option>
    <option value="Santiago Rodríguez">Santiago Rodríguez</option>
    <option value="Valverde">Valverde</option>
  </select>
  <div class="invalid-feedback">Por Favor seleciona tu provincia.</div>
</div>

<div class="col-md-4">
  <label for="state" class="form-label">Municipio</label>
  <select class="form-select" id="municipios" required="" name="municipios">
    <option value="">...</option>
  </select>
  <div class="invalid-feedback">Selecciona tu Municipio.</div>
</div>

<div class="col-md-4">
  <label for="state" class="form-label">Codigo Postal</label>
  <select class="form-select" id="zip" required="" name="zip">
    <option value="">...</option>
  </select>
  <div class="invalid-feedback">Este es tu codigo postal.</div>
</div>
