<div class="container mt-4">
  <h1>Cursos</h1>
  <a href="{% url 'courses:course_create' %}" class="btn btn-primary mb-3">Crear Curso</a>
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4">
      <div class="card mb-3">
        {% if course.image %}
          <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">{{ course.description|safe|truncatewords:20 }}</p>

          {% if can_access_module or request.user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'courses:course_update' course.pk %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'courses:course_delete' course.pk %}">Eliminar</a>
          {% endif %}
          <a href="{% url 'courses:course_detail' course.pk %}" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No hay cursos publicados.</p>
    {% endfor %}
  </div>
</div>