{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<h2>Profile List</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>ID Number</th>
                <th>Profession</th>
                <th>Role</th>
                <th>Direccion</th>
                <th>Grupo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>
                    {% if obj.profile and obj.profile.imagen %}
                    <img src="{{ obj.profile.imagen.url }}" alt="Profile Image" width="50" height="50">
                    {% else %}
                    <span>No Image</span>
                    {% endif %}
                </td>
                <td>{{ obj.username|capfirst }}</td>
                <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                <td>{{ obj.email }}</td>
                <td>
                    {% if obj.profile and obj.profile.telefono %}
                        {{ obj.profile.telefono }}
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if obj.profile and obj.profile.numero_identidad %}
                        {{ obj.profile.numero_identidad }}
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if obj.profile and obj.profile.profesion %}
                        {{ obj.profile.profesion }}
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if obj.profile and obj.profile.roll %}
                        {{ obj.profile.roll }}
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if not obj.addresses.exists %}
                        <a href="{% url 'authentication:address:address_create' address_type='residencial' pk=obj.id %}?next={% url 'authentication:profile_list' %}" class="btn btn-sm btn-success">Agregar Direccion</a>
                    {% else %}
                        {% with first_address=obj.addresses.first %}
                            <a href="{% url 'authentication:address:address_update' first_address.pk %}">Ver Direcciones</a>
                        {% endwith %}
                    {% endif %}
                </td>
                <td>{{ obj.groups.all|join:", "|capfirst }}</td>
                <td>
                    {% if obj.profile %}
                        <a href="{% url 'authentication:profile_update' obj.profile.pk %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'authentication:profile_delete' obj.profile.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    {% else %}
                        <a href="{% url 'authentication:profile_create' %}" class="btn btn-sm btn-outline-primary">Crear</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
