{% extends 'dashboard.html' %}    
{% load static %}
{% block content %}
<h2>Profile List</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>ID Number</th>
                <th>Profession</th>
                <th>Role</th>
                <th>Direccion</th>
                <th>Grupo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>
                    {% if obj.imagen %}
                    <img src="{{ obj.imagen.url }}" alt="Profile Image" width="50" height="50">
                    {% else %}
                    <span>No Image</span>
                    {% endif %}

                </td>
                <td>{{ obj |capfirst}}</td>
                <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                <td>{{ obj.email }}</td>
                {% if obj.telefono %}
                <td>{{ obj.telefono }}</td>
                {% else %}
                <td>No</td>
                {% endif %}
                {% if obj.numero_identidad %}
                <td>{{ obj.numero_identidad }}</td>
                {% else %}
                <td>No</td>
                {% endif %}
                {% if obj.profesion %}
                <td>{{ obj.profesion }}</td>
                {% else %}
                <td>No</td>
                {% endif %}
                {% if obj.roll %}
                <td>{{ obj.roll }}</td>
                {% else %}
                <td>No</td>
                {% endif %}
                <td>
                    {% if not profile.user.addresses.exists %}
                        <a href="{% url 'address_create' 'residencial' %}" class="btn btn-sm btn-success">Agregar Dirección</a>
                    {% else %}
                        {% with first_address=profile.user.addresses.first %}
                            <a href="{% url 'address_update' first_address.pk %}">Ver Direcciones</a>
                        {% endwith %}
                    {% endif %}
                </td>
                <td>{{ obj.user.groups.all|join:", "|capfirst }}</td>
                <td>
                    <a href="{% url 'profile_update' obj.pk %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'profile_delete' obj.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
