{% load static %}
<section class="py-5 text-center container">
  <div class="row py-lg-5 seccion-derecha">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="icono-decoracion">
        <img src="{% static 'setting/logo.png' %}" alt="Logo_iglesia" class="img-fluid rounded">
      </div>
      <div class=" mt-5">
        <h3 class="bienvenido-titulo">Somos Agentes de Cambios, <span class="color-titulo">Mejorando las familias</span></h3>
        <p>Lema: "Es mejor construir una cerca en la cima de una montaña que un hospital en la parte baja de la misma".</p>
      </div>
    </div>
  </div>
</section>
