{% extends "frontend.html" %}
{% load static %}

{% block content %}
<h1>Checkout</h1>
<table class="table table-light table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>
                {% if product.image %}
                <img src="{{ product.image.url }}" width="50" class="img-fluid rounded" alt="{{ product.name }}"
                     onerror="this.onerror=null; this.src='{% static 'Profile/default.webp' %}'">
                {% else %}
                <img src="{% static 'Profile/default.webp' %}" width="50" class="img-fluid rounded" alt="{{ product.name }}">
                {% endif %}
            <td>{{ product.name }}</td>
            <td>{{ quantities }}</td>
            <td>${{ product.price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ${{ total|floatformat:2 }}</p>

{% if user.is_authenticated %}
    <div class="py-5 text-center">
        <h1 class="h2">¡Gracias por tu apoyo!</h1>
        <p class="lead">
        Cada vez que eliges uno de nuestros libros, no solo estás invirtiendo en conocimiento, también estás colaborando directamente con la misión de Living Better Community Center: construir una comunidad más fuerte, saludable y con oportunidades para todos.
        Tu compra es más que un libro... es un paso hacia una vida mejor para muchos. 💚
        </p>
   
        <a href="https://a.co/d/f9eTjyk" target="_blank" style="text-decoration:none;">
            <button style="background-color:#ff9900; color:white; padding:10px 20px; border:none; border-radius:5px;">
              Comprar en Amazon
            </button>
          </a>
          
    </div>
{% else %}
    <a href="{% url 'customer_form' %}" class="btn btn-warning">Complete Checkout</a>
{% endif %}

{% endblock %}
