{% extends "frontend.html" %}
{%load static %}

{% block content %}

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container text-center">
        <div class="row">
        <div class="col-md-12">
            <h2>Crear Post</h2>
            <form method="POST" action={% url 'crear_post' %}>
                {% csrf_token %}

                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm">
                            {% if Ucategorias == "Biografia" %}
                                {% if user.Profle.first_name or user.profle.last_name %}
                                <h2>{{ user.Profle.first_name }}{{ user.profle.last_name }}</h2>
                                {% else%}
                                <label for="exampleInputEmail1" class="form-label">Nombres</label>
                                <input type="text" class="form-control" name="firtname" id="firtname" aria-describedby="emailHelp" placeholder="Escribe tus nombres como esta en tu documnetos">
                                <label for="exampleInputEmail1" class="form-label">Apellidos</label>
                                <input type="email" class="form-control" name="firtname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tus apellidos como esta en tu documnetos">
                                <label for="exampleInputEmail1" class="form-label">Profecion</label>
                                {{ user.Profle.profesion }}
                                <label for="exampleInputEmail1" class="form-label">Puesto</label>
                                {{ user.Profle.puesto }}
                                {% endif %}
                            {% else%}
                            {{ form.titulo.label  }}
                            {{ form.titulo }}
                            {% endif %}

                        </div>
                        <div class="col-sm">
                            {{ form.categoria.label }}
                            {% if posCreada %}
                                <select name="categoria" id="id_categoria" class="form-select" aria-label="Default select example">
                                    <option selected value="{{UcategoriasId}}">{{UcategoriasId}}</option>
                                </select>
                            {% else %}
                                {{ form.categoria }}
                            {% endif %}
                        </div>
                        <div class="col-sm">
                        {{ form.posicion.label }}
                        {% if posCreada %}
                            <select name="posicion" id="id_position" class="form-select" aria-label="Default select example">
                                <option selected value="{{UpositionId}}">{{UpositionId}}</option>
                            </select>
                        {% else %}
                            {{ form.posicion }}
                        {% endif %}
                        </div>
                        <div class="col-sm">
                        {{ form.estatus.label }}
                        {{ form.estatus }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                {{ form.contenido }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        </div>
    </div>

{% endblock %}
