{% load static %}


    {% with contents=section.contents.all|dictsortreversed:"created_at"|slice:":5" %}
      {% if contents %}
        <div id="carouselSection{{ section.id }}" class="carousel slide my-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for content in contents %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% if content.cover_image %}
                  <img src="{{ content.cover_image.url }}" class="d-block w-100" alt="{{ content.title }}">
                {% else %}
                  <img src="{% static 'Profile/default.webp' %}" class="d-block w-100" alt="default image">
                {% endif %}
                <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded-3 p-3">
                  <h5>{{ content.title }}</h5>
                  <p>{{ content.body|striptags|truncatewords:20 }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselSection{{ section.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselSection{{ section.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      {% endif %}
    {% endwith %}

