
{% for column in columns %}
    <div class="col-12 col-md-4"> <!-- Puedes ajustar el número de columnas según tu diseño -->
        {% for content in column.contents.all %}
            {% if content.tab == 'home' %}

                <div class="content-item">
                    <h4>{{ content.title |capfirst}}</h4>
                    <p>{{ content.excerpt|safe }}... Leer Mas</p>  <!-- Usar 'safe' si el contenido tiene HTML -->
                    <p><strong>Etiquetas:</strong> {{ content.tags }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

