{% extends 'frontend.html' %}
{%load static %}
{% block content %}

<div class="container-fluid">
    <div class="row  mt-5">
      <div class="row mb-5">
          <h1 class="text-primary"> Living Better Community Center </h1>
      </div>
    </div>

    <hr class="mb-5 border opacity-80 desg-hr">

    <div class="row justify-content-md-center">
      {% include 'columnamainhome.html'%}
    </div>
    
    <div class="row">
      {% include 'actividades.html'%}

    </div>
    <div class="row">
      {% include 'habilitadas.html'%}
    </div>
</div>


{% endblock %}
