{% load static %}
<div class="d-flex flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="row">
        {% if user in managers.all %}
        <a href="{% url 'edit_biography'%}" class="btn btn-primary m-3">Crear Biografia</a>
        {% endif %}
        <div class="row"><h2>Directivas</h2></div>

        {% for manager in managers %}
            {% if manager.profile %}

            <a href="{% url 'leerBio' manager.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="{{ manager.profile.imagen.url}}" alt="" width="32" height="32" class="rounded-circle me-2" onerror="this.onerror=null; this.src='{% static 'profiles/default.webp' %}'"/>
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        {{ manager.profile.imagen.url }}
                        <h6 class="mb-0">{{ manager.first_name | capfirst }} {{ manager.last_name | capfirst }}</h6>
                        <small>{{ manager.profile.profesion }}. </small>
                        <small>{{ manager.profile.roll |capfirst }}/ LBCC </small>
                        <small>{{ manager.email }}</small>

                        <p class="mb-0 opacity-75">{{ manager.excerpt |capfirst }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">Leer</small>
                </div>
            </a>
            {% endif %}

        {% endfor %}
        {% if is_directivas_member %}
            <small><a href="{% url 'edit_biography' %}">Crear Biografia</a></small>
        {% endif %}

    </div>
</div>