{% extends 'frontend.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-md-center">
            <div class="col col-md-7">
                {% for items in posts %}
                    <h2>{{items.category}}</h2>
                        <div class="row">

                            {% if items %}
                                <img src="{{ items}}" alt="" class="me-2"/>

                                <h3>{{items.title |capfirst}}</h3>
                                <p>{{items.summary |capfirst|striptags}} </p><a href="">Leer Mas</a>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
            <div class="col col-md-4">
                {% include 'directivas.html'%}
            </div>
        </div>
{% endblock %}
