{% extends 'frontend.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="row ">
            <div class="col col-md-7">
             
                {% if posts %}
                    {% for post in posts%}
                        <h4>{{post.titulo |capfirst}}</h4>
                        {{post.contenido |capfirst|striptags|linebreaks}}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col col-md-4">
                {% include 'directivas.html'%}
            </div>

        </div>
    </div>
</div>

{% endblock %}
