

{% extends "frontend.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <h2>Lista de Usuarios</h2>
        {% if users %}
            {% for user in users %}
                <div class="col-md-2 my-auto">
                    <img src="{{ user.profile.image.urls }}" alt="" width="96" height="96" class="rounded-circle me-2" alt="Profile Image" onerror="this.onerror=null; this.src='{% static 'Profile/default.webp' %}'"/>
                </div>
                <div class="col-md-2 my-auto">
                    <h6>Nombre: {{ user | capfirst  }}</h6>
                </div>
                <div class="col-md-2 my-auto">
                    <h6>Email: {{ user.email }}</h6>
                </div>
                <div class="col-md-2 my-auto">
                    <ul class="list-group">
                        {% for group in user.groups.all %}
                            <li class="list-group-item">{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 my-auto">
                    <form method="POST" action="{% url 'add_and_remove_group_to_user' user.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="action" value="add" class="btn btn-info delete-cart-item">Aplicar</button>
                        <button type="submit" name="action" value="remove" class="btn btn-danger delete-cart-item">Remover</button>
                    </form>
                </div>
                <hr class="mt-5 mb-5">
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}