{% extends "dashboard.html" %}
{% load static %}
{% block content %}
{% include "formbuilder/partials/taod_header.html" with header_title="Formularios" %}
<h1 class="h5 mb-3">Formularios</h1>
<a href="{% url 'formbuilder:form_create' %}">Crear nuevo formulario</a>
<a href="{% url 'invite_friend' %}?group=facilitador" class="btn btn-warning mt-2">Invitar Facilitador</a>
<br>
<a href="{% url 'formbuilder:enroll_facilitador' %}" class="btn btn-info mt-2">Ver facilitadores por formulario</a>
<ul  class="list-group">
    {% for form in forms %}
        <li class="list-group-item">
            <a href="{% url 'formbuilder:form_detail' form.pk %}">{{ form.name }}</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay formularios.</li>
    {% endfor %}
</ul>
{% endblock %}
