{% extends 'dashboard.html' %}
{% block content %}

<div class="container py-4">
  <h2 class="mb-3">Miembros de la Directiva</h2>

  <a href="{% url 'directives_create' %}" class="btn btn-primary mb-3">Crear Nuevo</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    {% for d in directives %}
      <tr>
        <td></td>
        <td>{{ d.user.get_full_name }}</td>
        <td>{{ d.cargo }}</td>
        <td>
          <a href="{% url 'directives_update' d.pk %}" class="btn btn-sm btn-warning">Editar</a>
          <a href="{% url 'directives_delete' d.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
