{% extends 'dashboard.html' %}    
{% block content %}
<div class="py-3 bg-light">
    <div class="container">
        <!-- groups_access/group_form.html -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Guardar cambios</button>
        </form>
    </div>
</div>

{% endblock %}