{% extends 'dashboard.html' %}    

{% block content %}
    <div class="row ">
        <h2>Crea Nuevo Grupo</h2>
        <form method="POST" action="{% url 'group_create' %}">
        {% csrf_token %}
            <div class="col-12 col-md-4">
                <label for="{{ form_0.id_for_label }}" class="visually-hidden">Group {{ form_0.label }}</label>
            </div>
            <div class="col-12 col-md-4">
                {{ form_0.name |capfirst}}
            </div>
            <div class="col-12 col-md-4">
                <button type="submit" name="action" value="add" class="btn btn-success">Crear Grupo</button>
            </div>
        </form>
    </div>
    <hr>
    {% if groups %}
    <div class="row">
        <h2>Asignar Permisos a Grupos</h2>
        {% for group in groups %}
            <div class="col-12 col-md-2 mt-5">
            <h5>{{ group.name }}</h5>
            </div>
            <div class="col-12 col-md-5">
                <h6>Permisos Asignados</h6>
                <div class="scroll-container" style="max-height: 300px; overflow-y: scroll;">
                    <ul class="list-group">
                        {% for permission in group.permissions.all %}
                            <li class="list-group-item">{{ permission.content_type.app_label }}/{{ permission.name }}</li>
                            {% empty %}
                            <li class="list-group-item">
                                <p>No hay permiso asignado para este grupo, seleccionelo en la siguiente lista</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <h6>Permisos Disponibles</h6>
                <form method="POST" action="{% url 'add_and_remove_permission_to_groups' group.id %}">
                    {% csrf_token %}
                    {{ form_1.as_p }}
                    <button type="submit" name="action" value="add" class="btn btn-info delete-cart-item">Aplicar</button>
                    <button type="submit" name="action" value="remove" class="btn btn-danger delete-cart-item">Remover</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h1>No hay grupos creados</h1>
    {% endif %}
        </div>

{% endblock %}
