{% extends 'frontend.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <form method="POST" action="{% url 'crear_post_Bio'%}">
                {% csrf_token %}
    
                <button type="submit" name="PostUser" class="btn btn-success">Crear Biografia</button>
            </form>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-8">
            {% if not biografia %}
                <p>contenido de la pagina</p>
                
            {% else %}

                {% for bio in biografia %}
                <h2>{{bio.titulo | capfirst }}</h2>
                {{ bio.contenido | linebreaks }}
                {% endfor %}
            {% endif %}
        </div>
        {% if posts %} <!-- aqui tienes que verificar si el usuarios es parte de la directiva-->
        <div class="col-md-4">
            <div class="d-flex flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center">
                <div class="row"><h2>Directivas</h2></div>
                <div class="row ">
                    {% for post in posts %}
                    <a href="{% url 'BioUser' post.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{ post.titulo | capfirst  }}</h6>
                            <p class="mb-0 opacity-75">{{ post.excerpt }} Leer Mas...</p>
                        </div>
                        <small class="opacity-50 text-nowrap">leer</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}