{% extends "frontend.html" %}
{%load static %}

{% block content %}

    <div class="container text-center">
        <div class="row">
        <div class="col-md-12">
            <h2>Editar</h2>
            <form method="post">
                {% csrf_token %}

                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm">
                            {{ form.titulo.label }}
                            {{ form.titulo }}
                        </div>
                        <div class="col-sm">
                            {{ form.categoria.label }}
                            {{ form.categoria }}
                        </div>
                        <div class="col-sm">
                        {{ form.posicion.label }}
                        {{ form.posicion }}
                        </div>
                        <div class="col-sm">
                        {{ form.estatus.label }}
                        {{ form.estatus }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                {{ form.contenido.label }}
                {{ form.contenido }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        </div>
    </div>

{% endblock %}