<aside class="accordion accordion-dark bg-dark text-white" id="accordionExample" data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" tabindex="0">
    {% for menu in menu_shop %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_blog %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_groups %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_metadata %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_auth %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_setting %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_classroom %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for menu in menu_docs %}
        <div class="accordion-item bg-dark border-secondary">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="false" aria-controls="{{ menu.nombre }}">
                    {{ menu.nombre }}
                </button>
            </h2>
            {% if menu.submenus %}
                <div id="{{ menu.nombre }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <ul class="list-group list-group-flush">
                        {% for submenu in menu.submenus %}
                            <li>
                                <a class="list-group-item list-group-item-action bg-dark text-white border-secondary" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</aside>

{% block 'extra_js'%}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var accordion = document.getElementById('accordionExample');
        var collapseElements = accordion.querySelectorAll('.accordion-collapse');

        collapseElements.forEach(function (collapse) {
            collapse.addEventListener('shown.bs.collapse', function () {
                this.classList.add('show');
            });
            collapse.addEventListener('hidden.bs.collapse', function () {
                this.classList.remove('show');
            });
        });
    });
</script>
{% endblock %}