{% extends 'dashboard.html' %}    
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for columna in columnas %}
        <tr>
            <td>{{ columna.name }}</td>
            <td>{{ columna.description }}</td>
            <td>
                <!-- Aquí puedes agregar botones para editar o eliminar -->
                <a href="{% url 'page:editar_columna' columna.id %}">Editar</a>
                <a href="{% url 'page:eliminar_columna' columna.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
