{% extends 'dashboard.html' %}    
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Columnas Asociadas</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.name }}</td>
            <td>{{ categoria.description }}</td>
            <td>{{ categoria.num_columnas }}</td>
            <td>{{ categoria.slug }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
