{% extends 'dashboard.html' %}    
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th><a class="btn btn-success" href="{% url 'page:crear_PageCategory' %}">Crear Pestaña</a></th>
        </tr>
        <tr>
            <th>Categoría</th>
            <th>Slug</th>
            <th>Pagina Posicion</th>

        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.name }}
            <td><small> slug: {{ categoria.slug }}</small> <a href="{% url 'page:delete_pageCategorias' categoria.pk %}" class-"btn btn-danger"> Eliminar</a></td>
            <td>
                {% if categoria.positions.all %}
                <ul>
                    {% for position in categoria.positions.all %}
                    <li>Linea:{{ position.row }}, Columna:{{ position.column }} - {{ position.description }}</li>
                    <a href="{% url 'page:delete_PagePosition' position.column %}" class-"btn btn-danger">Eliminar</a>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No columna agregada</p>
                {% endif %}

                <a class="btn btn-success" href="{% url 'page:crear_PagePosition' %}">Crear Posicion</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}