{% extends "classroom/classroom.html" %}
{% block content %}
<div class="container mt-4">
  <h1>{{ lesson.title|capfirst }}</h1>
  <p>{{ lesson.content|safe|capfirst }}</p>
  {% if lesson.video_url %}
    <h3>Video de la Lección</h3>
    <div class="ratio ratio-16x9">
      <iframe src="{{ lesson.video_url }}" class="w-100 h-100" allowfullscreen></iframe>
    </div>
  {% endif %}

    <a href="{% url 'enrollments:mark_lesson_complete' lesson.pk %}" class="btn btn-primary">Continuar</a>

  {% if user.is_authenticated and user == lesson.instructor %}
    <a href="{% url 'courses:lesson_update' lesson.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'courses:lesson_delete' lesson.pk %}" class="btn btn-danger">Eliminar</a>
  {% endif %}
</div>
{% endblock %}
