{% extends "classroom/classroom.html" %}
{% block content %}
<div class="container mt-4">
  <h1>{{ object.title }}</h1>
  {% if object.image %}
    <img src="{{ object.image.url }}" class="img-fluid mb-3" alt="{{ object.title }}">
  {% endif %}
  <p>{{ object.description }}</p>

  {% if user.is_authenticated and user == object.instructor %}
    <a href="{% url 'courses:lesson_update' object.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'courses:lesson_delete' object.pk %}" class="btn btn-danger">Eliminar</a>
  {% endif %}
</div>
{% endblock %}
