{% extends 'frontend.html' %}
{% load static %}

{% block content %}
<h1 class="mb-4 text-center">Por cada libro que adquieras, estás ayudando a que nuestra misión continúe. ¡Gracias por tu apoyo!</h1>


   {% if courses %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="row">
            {% for course in courses %}
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card"  style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                                {% if course.image %}
                                    <img src="{{ course.image.url }}" class="img-fluid mb-3" alt="{{ course.title }}">
                                {% endif %}
                            <p class="card-text">{{ course.description|safe }}</p>
                            <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %} 


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 shadow-sm border-0">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top img-fluid rounded-top" alt="{{ product.name }}" 
                 onerror="this.onerror=null; this.src='{% static 'Profile/default.webp' %}'">
            {% endif %}
            <div class="card-body text-center">
                <h5 class="card-title text-truncate">{{ product.name | capfirst }}</h5>
                <p class="card-text text-muted small">Leer Resumen</p>
                <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
                {% if product.subcategory.name == Digitales %}
                    <button class="btn btn-primary rounded-pill px-4" type="button">{{ product.category.name | capfirst }} {{ product.subcategory.name | capfirst }}</button>
                {% else %}
                    <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
                    <button class="btn btn-info rounded-pill px-4" type="button">{{ product.category.name | capfirst }} {{ product.subcategory.name | capfirst }}</button>
                {% endif %}
            </div>
            <div class="card-footer bg-white border-0 text-center">
                <div class="d-flex justify-content-center gap-2">
                    {% if product.subcategory.name == Digitales %}
                        <a href="{% url 'add_to_cart' product.id 1 %}" class="btn btn-outline-primary rounded-circle"><i class="bi bi-cart4"></i></a>
                    {% else %}
                        <input type="number" name="product_qty" placeholder="Cantidad" class="form-control w-50 d-inline-block" min="1" max="{{ product.stock }}" value="1">
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-outline-primary rounded-circle"><i class="bi bi-cart4"></i></a>
                    {% endif %}
                    <a href="{% url 'checkout_list' %}" class="btn btn-success rounded-pill">Pagar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
