{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<h1>{{ form.name }}</h1>

<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">{{ form.description |capfirst|safe}}</p>
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Acciones</h5>
        {% if form.pk %}
            <a href="{% url 'formbuilder:form_update' form.pk %}">Editar</a>
            <a href="{% url 'formbuilder:form_delete' form.pk %}">Eliminar</a>
        {% endif %}
    </div>
</div>

<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">Campos</h5>
        {% if form.pk %}
            <ul class="list-group list-group-horizontal p-3">
                <li class="list-group-item">
                    <a href="{% url 'formbuilder:field_add' form.pk %}">Agregar campo</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'formbuilder:render_form' form.name %}">Ver</a>
                </li>
            </ul>
        {% endif %}

        <table class="table">
            <tbody class="table-group-divider">
                {% for field in form.fields.all %}
                    <tr>
                        <td>{{ field.label |capfirst}}</td>
                        <td>{{ field.get_field_type_display }}</td>
                        <td><a href="{% url 'formbuilder:field_update' field.pk %}">Editar</a></td>
                        <td><a href="{% url 'formbuilder:field_delete' field.pk %}">Eliminar</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay campos.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'formbuilder:form_list' %}">Volver a la lista</a>
    </div>
</div>
{% endblock %}
