{% extends 'frontend.html' %}
{% load static %}
{% block content %}
<h1>Carrito de {{ request.user.username }}</h1>
<ul>
    {% for item in carrito.itemcarrito_set.all %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if item.producto.images.exists %}
                    <img class="img-fluid" src="{{ item.producto.images.first.image.url }}" alt="{{ item.producto.nombre }}" />
                {% else %}
                    <img class="img-fluid" src="{% static 'setting/logo.png' %}" alt="Imagen no disponible" />
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.producto.nombre | capfirst }}</h5>
                    <p class="card-text">{{ item.producto.descripcion }}</p>
                    <p class="card-text"><small class="text-body-secondary">Cantidad: {{ item.cantidad }}</small></p>

                    <form action="{% url 'actualizar_cantidad' item.id %}" method="POST">
                        {% csrf_token %}
                        <input type="number" name="cantidad" value="{{ item.cantidad }}" min="0">
                        <button type="submit" class="btn btn-primary">Actualizar cantidad</button>
                    </form>
                    <form action="{% url 'eliminar_del_carrito' item.producto.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>

<!-- Botón para proceder al checkout -->
<div class="text-end">
    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Proceder al Pago</button>
    </form>
</div>

{% endblock %}

