{% extends 'frontend.html' %}
{% load static %}
{% block content %}
  <h2>Productos</h2>
  <a href="{% url 'crear_producto' %}" class="btn btn-primary">Añadir Producto</a>
  <div class="row">
    {% if productos %}
      {% for producto in productos %}
        <div class="col-md-4">
          <div class="m-4 p-2">
            {% for image in producto.images.all %}
              <img class="img-fluid" src="{{ image.image.url }}" alt="{{ producto.nombre }}" />
            {% endfor %}
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre | capfirst }}</h5>
              <p class="card-text">
                <strong>${{ producto.precio }}</strong>
              </p>
              <!-- template.html -->
              <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-primary">Agregar al carrito</a>
              <a href="{% url 'detalle_producto' producto.pk %}" class="btn btn-info">Ver Detalle</a>
              {% if request.user.is_superuser %}
              <a href="{% url 'editar_producto' producto.pk %}" class="btn btn-warning">Editar</a>
              <a href="{% url 'eliminar_producto' producto.pk %}" class="btn btn-danger">Eliminar</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>no hay producto aun</p>
    {% endif %}
  </div>
{% endblock %}
