
{% extends "frontend.html"  %}
{% load static %}
    {% block content %}
    <h1>Crear Reporte de Cuenta Minerd</h1>
    <form method="post">
        {% csrf_token %}

        {% for fields in form %}
            <div class="mb-3">
                <label for="campo{{ fields.id }}" class="form-label">{{ fields.label }}</label>
                <input type="email" class="form-control" id="campo{{ fields.id }}" name="{{ fields.name }}" aria-describedby="emailHelp">
                {% if fields.name == 'campos' || fields.name == none %}
                        {{ campos }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Crear Reporte</button>
    </form>
    {% endblock %}
    