{% extends 'frontend.html' %}
{% load static %}
{% block content %}
    <h2>Create Page Content</h2>
    <form action="{% url 'create_page_content' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>by {{user.username |capfirst}}</p>
        <input type="text" class="form-control visually-hidden" placeholder="{{user.username}}" value="{{user.username}}" name="author">
        {{form.media }}
        {{ form.as_p }}  <!-- Esto renderiza los campos del formulario -->
        {{ form.cover_image }}

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
