{% extends "classroom/classroom.html" %}
{% block content %}
<div class="container mt-4">
  <h1>{% if object %}Editar modulo{% else %}Crear modulo{% endif %}</h1>
  <form method="POST" action="{% url 'courses:module-create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media}}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
  <a href="{% url 'courses:module-list' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
</div>
{% endblock %}
