{% extends 'dashboard.html' %}    

{% block content %}
  <h1>Course List</h1>
  <ul>
    {% for course in cursos %}
      <li>
        <h2>{{ course.title }}</h2>
        <p>{{ course.description }}</p>
        {% if user.is_superuser %}
          {% if course.id %}<a href="{% url 'course_edit' course.id %}">Edit</a> {% endif %}
          {% if course.id %}<a href="{% url 'course_delete' course.id %}">Delete</a>{% endif %}
        {% endif %}
        {% if course.id %}<a href="{% url 'course_detail'%}">Read</a>{% endif %}
        {% if not user.is_superuser %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary" href="{% url 'google_login' %}"><strong>Login with Google</strong></a>
{% endblock %}
