{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% if page_type == 'homepage' %}
        <meta name="title" content="{{ meta_title }}">
        <meta name="description" content="{{ meta_description }}">
        <meta name="keywords" content="{{ meta_keywords }}">
        {% if meta_search_image %}
            <meta property="og:image" content="{{ meta_search_image }}">
        {% endif %}
        {% if meta_icon %}
            <link rel="icon" href="{{ meta_icon }}" type="image/png">
        {% endif %}
        <title>{{ meta_title }}</title>
    {% elif page_type == 'blog' %}
        <meta name="title" content="{{ meta_blog_title }}">
        <meta name="description" content="{{ meta_blog_description }}">
        <meta name="keywords" content="{{ meta_blog_keywords }}">
        {% if meta_blog_search_image %}
            <meta property="og:image" content="{{ meta_blog_search_image }}">
        {% endif %}
        <title>{{ meta_blog_title }}</title>
    {% else %}
        <!-- Metadatos genéricos o por defecto -->
        <meta name="title" content="Título por defecto">
        <meta name="description" content="Descripción por defecto">
        <meta name="keywords" content="palabras, clave, por, defecto">
        <title>Título por defecto</title>
    {% endif %}

    <link href="{{BOOTSTRAP_CSS}}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
    <!-- Cabecera -->
    {% include 'navbar.html'%}

    <!-- Contenido Principal -->
    <div class="container-fluid mb-5">
        <div class="row ">
            <!-- Aside -->
            {% include 'navbar.html'%}

            <!--Cabecera-->
            {% include 'section.html'%}
            {% include 'aside.html'%}
            <!-- Contenido -->
            <main class="{% if request.user.is_authenticated %}col-md-9 {% else %} col-md-12{% endif %}">
                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Pie de Página -->

     {% include 'footer.html'%}

    {% block extra_js %}
    {% endblock%}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/javascripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="{{BOOTSTRAP_JS}}"></script>

</body>
</html>
