{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {% if page_type == 'homepage' %}
        <meta name="title" content="{{ meta_title }}">
        <meta name="description" content="{{ meta_description }}">
        <meta name="keywords" content="{{ meta_keywords }}">
        {% if meta_search_image %}
            <meta property="og:image" content="{{ meta_search_image }}">
        {% endif %}
        {% if meta_icon %}
            <link rel="icon" href="{{ meta_icon }}" type="image/png">
        {% endif %}
        <title>{{ meta_title }}</title>
    {% elif page_type == 'blog' %}
        <meta name="title" content="{{ meta_blog_title }}">
        <meta name="description" content="{{ meta_blog_description }}">
        <meta name="keywords" content="{{ meta_blog_keywords }}">
        {% if meta_blog_search_image %}
            <meta property="og:image" content="{{ meta_blog_search_image }}">
        {% endif %}
        <title>{{ meta_blog_title }}</title>
    {% else %}
        <!-- Metadatos genéricos o por defecto -->
        <meta name="title" content="Título por defecto">
        <meta name="description" content="Descripción por defecto">
        <meta name="keywords" content="palabras, clave, por, defecto">
        <title>Título por defecto</title>
    {% endif %}

    <link href="{{BOOTSTRAP_CSS}}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
<!-- Bootstrap Bundle (incluye Popper.js) -->

    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
    <!-- Cabecera -->
    {% include 'navbar.html'%}

    <!-- Contenido Principal -->
    <div class="{% if request.user.is_authenticated %} container-fluid {% else %} container-fluid{% endif %}">
        <div class="row ">
            <!-- Aside -->
            {% include 'navbar.html'%}

            <!--Cabecera-->
            {% include 'section.html'%}
            <div class="col col-md-3 d-none d-md-block"> {% include 'aside.html'%} </div>
            <!-- Contenido -->
            <main class="col col-md-9">
                {% if messages %}
                    <div class="container mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
          
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Pie de Página -->

     {% include 'footer.html'%}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/javascripts.js' %}"></script>

{% block extra_js %}
{% endblock %}


</body>
</html>
