{%load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" data-bs-theme="dark">
    <a class="navbar-brand" href="{% url 'home'%}">
        <img src="{% static '/setting/logo.png' %}" alt="Logo" width="32" height="32" class="rounded d-inline-block align-text-top ms-3">
        Living Better</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if navbar_menuitems %}
                {% for  menu in navbar_menuitems %}
                    {% if menu.name|default:''|lower == "navbar" or menu.row|default:0 == 0 or menu.column|default:0 == 0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ menu.get_url }}">
                                {{ menu.page |capfirst }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!--Menu adaptado-->
            <div class="accordion d-block d-md-none" id="accordionExample">
                {% for menu in menu_shop %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.id }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#{{ menu.id }}">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_blog %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_groups %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_metadata %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_auth %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_setting %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_classroom %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for menu in menu_docs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu.nombre }}" aria-expanded="true" aria-controls="{{ menu.nombre }}">
                                {{ menu.nombre }}
                            </button>
                        </h2>
                        {% if menu.submenus %}
                            <div id="{{ menu.nombre }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for submenu in menu.submenus %}
                                        <li>
                                            <a class="list-group-item list-group-item-action" href="{{ submenu.url }}">- {{ submenu.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if navbar_menuitems %}
                {% for  menu in navbar_menuitems %}

                    {% if menu.nombre != "Home" and menu.orden == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ menu.get_url }}">
                                {{ menu.nombre |capfirst }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if menu_cart %}
            <li>
                <a class="text-decoration-none text-white me-3" href="{% url 'checkout:checkout_list' %}">
                    <i class="bi bi-cart4 text-warning">{{ cart_length }}</i>
                </a>
            </li>
            {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item me-3">
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.profile.imagen.url }}" alt="" width="32" height="32" class="rounded-circle me-2" alt="Profile Image" onerror="this.onerror=null; this.src='{% static 'profiles/default.webp' %}'"/>
                            <strong>{{ user.username | capfirst }}</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                {% for menu in dashboard_menu %}
                                    {% if menu.submenus %}
                                            {% for submenu in menu.submenus %}
                                                <li>
                                                    <a class="nav-link text-light" href="{{ submenu.url }}">{{ submenu.nombre }}</a>
                                                </li>
                                            {% endfor %}
                                    {% endif %}
                                {% endfor %}
                              <li><a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>
                            </ul>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                {% endif %}
        </ul>
    </div>
</nav>