{% extends "frontend.html" %}
{% load static %}

{% block content %}
<h1>Mis Direcciones</h1>
<div class="mb-3 d-flex gap-2">
  <a class="btn btn-primary" href="{% url 'authentication:address:address_create' address_type='laboral' pk=user.id %}">Nueva dirección laboral</a>
  <a class="btn btn-secondary" href="{% url 'authentication:address:address_create' address_type='residencial' pk=user.id %}">Nueva dirección residencial</a>
  <a class="btn btn-outline-dark" href="{% url 'authentication:address:address_create' address_type='otro' pk=user.id %}">Otra dirección</a>
 </div>
<ul>
    {% for address in addresses %}
    <li>
        {{ address }} - 
        <a href="{% url 'authentication:address:address_detail' address.pk %}">Ver</a> | 
        <a href="{% url 'authentication:address:address_update' address.pk %}">Editar</a> | 
        <a href="{% url 'authentication:address:address_delete' address.pk %}">Eliminar</a>
    </li>
    {% empty %}
    <li>No tienes direcciones registradas.</li>
    {% endfor %}
  </ul>
{% endblock %}
