{% extends "frontend.html" %}
{% load static %}

{% block content %}
<h1>Detalle de Dirección</h1>
<p><strong>Tipo:</strong> {{ address.get_address_type_display }}</p>
<p><strong>Calle:</strong> {{ address.street }}</p>
<p><strong>Barrio/Sector:</strong> {{ address.neighborhood }}</p>
<p><strong>Ciudad/Provincia:</strong> {{ address.city }}</p>
<p><strong>Municipio/Estado:</strong> {{ address.state }}</p>
<p><strong>Código Postal:</strong> {{ address.zip_code }}</p>
<a class="btn btn-outline-secondary" href="{% url 'authentication:address:address_list' %}">Volver al listado</a>
{% endblock %}
